## ignore this file ##
*.a
*.o
*.d
*.out
*.bin
rpc/*.a
rpc/*.d
.vscode
rpc/*.out
rpc/*.bin
.log
rpc/*.log
yfs1/*
yfs2/*
lock_server.log
yfs_client1.log
yfs_client2.log
yfs_client
lock_demo
lock_server
lock_tester
stop.sh
test-lab-2-a.pl
yfs_client
start.sh
